---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const pageTitle = "Links";
const allLinks = await getCollection('links');
const links = allLinks[0].data.links;

function formatDate(dateString) {
    const date = new Date(dateString);
    return date.toISOString().split('T')[0]; // This will format the date as YYYY-MM-DD
}
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">{pageTitle}</h1>
        <p class="mb-4">Here are some things I've been reading lately:</p>
        
        <input type="text" id="filterInput" class="w-full p-2 mb-4 border border-gray-300 rounded" placeholder="Filter links...">
        
        <div class="overflow-x-auto">
            <table id="linksTable" class="table-auto w-full">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="text-left cursor-pointer p-2" data-sort="date">Date Added</th>
                        <th class="text-left cursor-pointer p-2" data-sort="title">Title</th>
                    </tr>
                </thead>
                <tbody>
                    {links.map((link) => (
                        <tr class="border-b border-gray-200 hover:bg-gray-50">
                            <td class="p-2" data-date={link.date}>{formatDate(link.date)}</td>
                            <td class="p-2"><a href={link.url} class="over:underline" target="_blank" rel="noopener noreferrer">{link.title}</a></td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        import { initializeLinksPage } from '../../scripts/links.js';
        document.addEventListener('DOMContentLoaded', initializeLinksPage);
    </script>
</BaseLayout>