---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
const description = "Welcome to Ged Lawrenson's personal website. Learn about my life and development experiences.";

---
<html lang="en">
  <title>{pageTitle}</title>
  <head>
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={description}>
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <link rel="canonical" href={Astro.url}>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <slot/>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>